html {
    background: url("../images/throneRoom.jpg") no-repeat center fixed;
    background-size: cover;
}

#gameTitle {
    padding: 15px 9px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3vw;
}

.charImg {
    width: 100%;
    height: auto;
}

.charCard {
    background-color: black !important;
    padding: 3px !important;
}

.sectionTitle {
    font-size: 2vw;
}

.bgBlackTransparent {
    background-color: rgba(0, 0, 0, 0.5);
}